
<div layout="row" flex layout-fill>
    <div layout="column" flex>


        <div class="header" class="md-block" flex-gt-sm>
            <h1>This is my first Ruby on Rails project</h1>
            <h3>I created this page with Angularjs and angular material!!</h3>
            <h4>The next page gives you the option to sort the assignees!!</h4>
        </div>

        <div>

            <form >
                <div layout="column"  layout-xs="column" >
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input class="textInput" ng-model="newGuest.name" />
                            <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-button class="md-raised" ng-click="addEntry()">Add Entry</md-button>
                    </div>
                </div>
            </form>

            <div class="registeredGuestList">
                <md-list >
                    <md-subheader> <h2>Attendance</h2></md-subheader>
                    <md-divider hide-xs></md-divider>
                    <md-list-item layout-align="space-between center" layout="row" class="listItem" ng-repeat="items in entries">
                        <span flex><h3>{{items.name}}</h3> </span>
                        <span flex> <h4>{{items.createdAt}}</h4></span>
                        <md-divider hide-xs></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>