// Place all the styles related to the angRails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{

  text-align: center;

}

.header{

  background: deepskyblue;



}

ul{
  font-size: 55dppx;
}