<!DOCTYPE html>
<html ng-app="angRails">
<head>
  <title>AngRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" ng-controller="mainCTRL">
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>My App</span>
        </h2>
      </div>
    </md-toolbar>
<%= yield %>
</div>
</body>
</html>
